<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/rawdatastyle.css">

    <link rel="stylesheet" href="../static/css/vendors.css">
    <style>
        body {
            --color-text: #0f070a;
            --color-bg: #fabd69;
            --color-bg-2: #f98e4a;
            --color-link: #317bd0;
            --color-link-hover: #317bd0;
            background: radial-gradient( ellipse at 100% 0, #fed96f 0, var(--color-bg) 50%, var(--color-bg-2) 115%);
        }
        
        .container .row input {
            background-color: rgba(255, 255, 255, 0.3);
        }
        
        .container .row select {
            background-color: rgba(255, 255, 255, 0.3);
        }
    </style>


</head>

<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="demo2.html">UI1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="demo1.html">UI2</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Search" id="textsearch">
            </div>
            <div class="col">
                <select class="form-select" id="country">
                    <option value="0">Select Country</option>
                    
                  </select>
            </div>
            <div class="col">
                <select class="form-select" id="invader">
                    <option value="0">Select Invader Species</option>
                    
                  </select>
            </div>
            <div class="col">
                <select class="form-select" id="Roler">
                    <option value="0">Select Role</option>
                    <option value="attack_role">attack_role</option>
                    <option value="defense_role">defense_role</option>
                    <option value="healing_role">healing_role</option>
                  </select>
            </div>
            <div class="col" style="text-align: center;">
                <button type="button" class="btn btn-light" style="width:70%;" id="findinfo">Find</button>
            </div>
        </div>
    </div>
    <div class="container">
        <table class="table" style="margin-top: 80px;">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Hero</th>
                    <th scope="col">Email</th>
                    <th scope="col">Headquarter</th>
                    <th scope="col">Role</th>
                    <th scope="col">Invader</th>
                </tr>
            </thead>
            <tbody id="tablelist">


            </tbody>
        </table>
    </div>

    <!-- invader -->
    <script type="text/html" id="quaterlist">
        <option value="0">Select Invader Species</option>
        {{each}}
        <option value="{{$value}}">{{$value}}</option>
        {{/each}}
    </script>
    <!-- country -->
    <script type="text/html" id="countrylist">
        <option value="0">Select Country</option>
        {{each}}
        <option value="{{$value}}">{{$value}}</option>
        {{/each}}
    </script>
    <!-- table -->
    <script type="text/html" id="tableinfo">
        {{each}}
        <tr>
            <th scope="row">{{$index +1}}</th>
            <td>{{$value.Heroname}}</td>
            <td>{{$value.Email}}</td>
            <td>{{$value.QuarterName}}</td>
            <td>{{$value.Rolename}}</td>
            <td>{{$value.Invader}}</td>
        </tr>
        {{/each}}
    </script>

    <script type="text/javascript" src="../static/js/jQuery.js"></script>
    <script type="text/javascript" src="../static/js/vendors.js"></script>
    <script type="text/javascript" src="../static/js/base2.js"></script>
    <script type="text/javascript" src="../static/js/template-web.js"></script>

    <script type="text/javascript" src="../static/js/popper.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="../static/js/xlsx.full.min.js"></script>
    <script>
        /* set up XMLHttpRequest */
        var url = "./Avengers_vs_Invaders_Challenge.xlsx";
        var oReq = new XMLHttpRequest();

        oReq.open("GET", url, true);
        oReq.responseType = "arraybuffer";

        oReq.onload = function(e) {
            var arraybuffer = oReq.response;

            /* convert data to binary string */
            var data = new Uint8Array(arraybuffer);
            var arr = new Array();
            for (var i = 0; i != data.length; ++i) arr[i] = String.fromCharCode(data[i]);
            var bstr = arr.join("");

            /* Call XLSX */
            var workbook = XLSX.read(bstr, {
                type: "binary"
            });
            const sheet2JSONOpts = {
                /** Default value for null/undefined values */
                defval: '' //给defval赋值为空的字符串
            }
            var first_sheet_name = workbook.SheetNames[0]
            var worksheet1 = workbook.Sheets[first_sheet_name];
            var info1 = XLSX.utils.sheet_to_json(worksheet1, sheet2JSONOpts);

            var second_sheet_name = workbook.SheetNames[1]
            var worksheet2 = workbook.Sheets[second_sheet_name];
            var info2 = XLSX.utils.sheet_to_json(worksheet2, sheet2JSONOpts);

            //对Contacts表数据进行处理 由于XLSX读取数据转换JSON后出现错误 需要重新调整
            var changeIndex = []
            for (let i = 0; i < info2.length; i++) {
                if (info2[i]['DE-Headquarter'].indexOf('Headquarter') != -1) {
                    changeIndex.push(i)
                }
            }
            for (let i = 0; i < changeIndex.length; i++) {
                var QuarterName = info2[changeIndex[i]]['DE-Headquarter']
                if (i + 1 < changeIndex.length) {
                    for (let j = changeIndex[i]; j < changeIndex[i + 1]; j++) {
                        info2[j]["invader"] = info2[j]['DE-Headquarter']
                        info2[j]["QuarterName"] = QuarterName
                        delete info2[j]['DE-Headquarter']
                    }
                }
            }
            for (let i = 0; i < changeIndex[0]; i++) {
                var QuarterName = 'DE-Headquarter'
                info2[i]["invader"] = info2[i]['DE-Headquarter']
                info2[i]["QuarterName"] = QuarterName
                delete info2[i]['DE-Headquarter']
            }
            const LastQuarterName = info2[changeIndex[changeIndex.length - 1]]['DE-Headquarter']
            for (let i = changeIndex[changeIndex.length - 1]; i < info2.length; i++) {

                info2[i]["invader"] = info2[i]['DE-Headquarter']
                info2[i]["QuarterName"] = LastQuarterName
                delete info2[i]['DE-Headquarter']
            }
            changeIndex.sort((a, b) => b - a)

            for (let i = 0; i < changeIndex.length; i++) {

                info2.splice(changeIndex[i], 1)
            }

            //填充invader_species 初始化
            var invaderername = []
            for (let i = 0; i < info2.length; i++) {

                invaderername.push(info2[i]['invader'])
            }
            invaderername = [...new Set(invaderername)]


            var InvaderHtmlStr = template("quaterlist", invaderername);

            $("#invader").html(InvaderHtmlStr);

            // 填充country
            var countryname = []
            for (let i = 0; i < info1.length; i++) {

                countryname.push(info1[i]['Country Name'])
            }
            countryname = [...new Set(countryname)]


            var CountryHtmlStr = template("countrylist", countryname);

            $("#country").html(CountryHtmlStr);

            //进一步处理info2数据 
            var info2list = []
            for (let i = 0; i < info2.length; i++) {
                if (info2[i]["attack_role"] != '') {
                    info2list.push({
                        QuarterName: info2[i]["QuarterName"],
                        Rolename: "attack_role",
                        Invader: info2[i]["invader"],
                        Email: info2[i]["attack_role"] + "@avengers.com",
                        Heroname: info2[i]["attack_role"],
                    })
                }
                if (info2[i]["defense_role"] != '') {
                    info2list.push({
                        QuarterName: info2[i]["QuarterName"],
                        Rolename: "defense_role",
                        Invader: info2[i]["invader"],
                        Email: info2[i]["defense_role"] + "@avengers.com",
                        Heroname: info2[i]["defense_role"],
                    })
                }
                if (info2[i]["healing_role"] != '') {
                    info2list.push({
                        QuarterName: info2[i]["QuarterName"],
                        Rolename: "healing_role",
                        Invader: info2[i]["invader"],
                        Email: info2[i]["healing_role"] + "@avengers.com",
                        Heroname: info2[i]["healing_role"],
                    })
                }
            }
            //按钮监听 查阅数据
            $('#findinfo').on('click', function() {

                // 输入框
                var filter1 = $('#textsearch').val().trim()
                    //country
                var filter2 = $('#country option:selected').val()
                    //-invader
                var filter3 = $('#invader option:selected').val()
                    //Roler
                var filter4 = $('#Roler option:selected').val()
                    //-----------------------------
                var validinfo_filter = info2list
                var quarterlist = []
                if (filter2 != '0') {

                    for (let i = 0; i < info1.length; i++) {
                        if (info1[i]["Country Name"] == filter2) {
                            quarterlist.push(info1[i]["Aliens"])
                            quarterlist.push(info1[i]["D&D Monsters"])
                            quarterlist.push(info1[i]["Predators"])
                            break
                        }
                    }

                    var validinfo_first_filter = []
                    for (let i = 0; i < info2list.length; i++) {
                        if (info2list[i]["QuarterName"] == quarterlist[0] || info2list[i]["QuarterName"] == quarterlist[1] || info2list[i]["QuarterName"] == quarterlist[2]) {
                            validinfo_first_filter.push(info2list[i])
                        }
                    }
                    validinfo_filter = validinfo_first_filter

                }
                //---------------------
                if (filter3 != '0') {
                    var validinfo_second_filter = []
                    for (let i = 0; i < validinfo_filter.length; i++) {
                        if (validinfo_filter[i]["Invader"] == filter3) {
                            validinfo_second_filter.push(validinfo_filter[i])
                        }
                    }
                    validinfo_filter = validinfo_second_filter
                }

                if (quarterlist.length != 0 && filter3 != '0') {

                    var validinfo_third_filter = []
                    if (filter3 == "aliens") {
                        for (let i = 0; i < validinfo_filter.length; i++) {
                            if (validinfo_filter[i]["QuarterName"] == quarterlist[0]) {
                                validinfo_third_filter.push(validinfo_filter[i])
                            }
                        }
                    } else if (filter3 == "predators") {
                        for (let i = 0; i < validinfo_filter.length; i++) {
                            if (validinfo_filter[i]["QuarterName"] == quarterlist[1]) {
                                validinfo_third_filter.push(validinfo_filter[i])
                            }
                        }
                    } else {
                        for (let i = 0; i < validinfo_filter.length; i++) {
                            if (validinfo_filter[i]["QuarterName"] == quarterlist[2]) {
                                validinfo_third_filter.push(validinfo_filter[i])
                            }
                        }
                    }
                    validinfo_filter = validinfo_third_filter
                }

                //--------------------------
                if (filter4 != '0') {
                    var validinfo_fourth_filter = []
                    for (let i = 0; i < validinfo_filter.length; i++) {
                        if (validinfo_filter[i]["Rolename"] == filter4) {
                            validinfo_fourth_filter.push(validinfo_filter[i])
                        }
                    }
                    validinfo_filter = validinfo_fourth_filter
                }

                if (filter1 != '') {
                    var validinfo_fifth_filter = []
                    for (let i = 0; i < validinfo_filter.length; i++) {
                        if (validinfo_filter[i]["QuarterName"].indexOf(filter1) > -1 || validinfo_filter[i]["Invader"].indexOf(filter1) > -1 ||
                            validinfo_filter[i]["Rolename"].indexOf(filter1) > -1 || validinfo_filter[i]["Heroname"].indexOf(filter1) > -1) {
                            validinfo_fifth_filter.push(validinfo_filter[i])
                        }
                    }
                    validinfo_filter = validinfo_fifth_filter

                }

                var InfoHtmlStr = template("tableinfo", validinfo_filter);

                $("#tablelist").html(InfoHtmlStr);

            })


        }

        oReq.send();
    </script>

</body>

</html>